<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/lib/paper-full.js" type="text/javascript"></script>
  <script src="/js/lib/data.js" type="text/paperscript" canvas="myCanvas"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/1.1.28/howler.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/css/circle.css">
  <title>Sound Mixer</title>
</head>
<body>
  <canvas id="myCanvas"></canvas>
</body>
</html>